*{
    margin: 0;
    padding: 0;
}
.cv{
    height: 300px;
    width: 300px;
    background-color: #03c4ff;
    border-radius: 50%;
    position: relative;
    margin: 20% 0 0 35%;
}
.cv img{
    height: 300px;
    width: 300px;
    position: absolute;
}

